<!--/*  Authored/Developed by: Michael Akinosho
    Date: December 19, 2021
    Purpose: Python Stack @ Coding Dojo*/-->


<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Pizza Pete's</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/site.css') }}">
            <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.2/dist/css/uikit.min.css"> -->
            <meta charset="UTF-8">
            <meta name="description" content="Template HTML file">
            <meta name="keywords" content="remember to add keywords here">
            <meta name="author" content="Michael Akinosho">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    
    <body>
        <header>
            <nav class="uk-flex uk-navbar-container uk-flex-around" uk-navbar style="background-color: rgb(255, 255, 255);">
                <h1>PIZZA PETE'S</h1>
                <div class="uk-navbar-left">
                    <ul class="uk-navbar-nav">
                        <il class="uk_active uk-padding-small"><a href="/user/quick_options">Home</a></il>
                        <il class="uk-padding-small"><a href="/user/order">Order</a></il>
                        <il class="uk-padding-small"><a href="/user/account">Account</a></il>
                        <il class="uk-padding-small"><a href="/logout">Log Out</a></il>
                    </ul>
                </div>
            </nav>
        </header>
        
        <main>
            <div class="uk-flex uk-border-rounded uk-margin-xlarge-left uk-margin-xlarge-right uk-flex-column uk-padding" style="background-color: yellowgreen;">
                    <div class="uk-flex uk-flex-center"><h1>Account Info</h1></div>
                    <div class="uk-flex uk-flex-center uk-column-1-2-3">
                        <div class="uk-padding-small uk-border-rounded" style="background-color:lightcyan;">
                            <form class="uk-form-stacked" action="/user/new_order" method="POST">
                                <div>
                                    <textarea class="uk-textarea uk-border-rounded uk-text-large" id="new_order" name="new_order" rows="6" readonly>The rain in Spain stays mainly on the plain.</textarea>
                                </div>
                                <div class="uk-padding-small">
                                    <input class="uk-width-1-1 uk-text-bold" type="submit" value="New Order">
                                </div>
                            </form>
                        </div>
                        {% for fave in favorite_order %}
                        <div class="uk-padding-small uk-border-rounded" style="background-color:lightcyan;">
                            <form class="uk-form-stacked" action="/user/favorite_order" method="POST">
                                <div>
                                    <textarea class="uk-textarea uk-border-rounded uk-text-large" id="favorite_order" name="favorite_order" rows="6" readonly>{{fave.method}},{{fave.quantity}},{{fave.toppings}}</textarea>
                                </div>
                                <div class="uk-padding-small">
                                    <input class="uk-width-1-1 uk-text-bold" type="submit" value="Re-Order My Fave">
                                </div>
                            </form>
                        </div>
                        {% endfor %}
                        <div class="uk-padding-small uk-border-rounded" style="background-color:lightcyan;">
                                <form class="uk-form-stacked" action="/user/random_order" method="POST">
                                    <div>
                                        <textarea class="uk-textarea uk-border-rounded uk-text-large" id="random_order" name="random_order" rows="6" readonly>The rain in Spain stays mainly on the plain.</textarea>
                                    </div>
                                    <div class="uk-padding-small">
                                        <input class="uk-width-1-1 uk-text-bold" type="submit" value="Surprise Me">
                                    </div>
                                </form>
                        </div>
                    </div>
            </div>
        </main>
        <footer>
            <nav class="uk-navbar-container" uk-navbar style="background-color: rgb(255, 255, 255);">
                
            </nav>

        </footer>
        <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>